@import "settings";

html {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
}

body {
  font-size: $m-size;
  line-height: 1.6;
  width: 100%;
  height: 100%;
}

#app-root {
  width: 100%;
  height: 100%;
}
