@import "settings";

.button {
  background: white;
  color: black;
  border: black 1px solid;
  border-radius: 0;
  padding: 0.8rem 1rem;
  display: inline-block;
  text-decoration: none;
  line-height: 1;

  transition: all 100ms ease-in-out;

  &:hover {
    color: white;
    background: black;
  }
}

.success-button {
  color: $green;
  border: $green solid 1px;

  &:hover {
    color: white;
    background: $green;
  }
}

button:focus {
  outline: none;
}
