<div class="home">
    <div class="header">
        <h1>CDN.NET</h1>
        <p>powerful and blazingly fast content delivery service</p>
    </div>
    <div *ngIf="!isLoggedIn" class="content-container flex-direction-col content">
        <p class="center-text not-logged-in">Please login or register</p>
        <div class="flex flex-direction-row justify-content-center">
            <button class="button login-buttons">
                Sign in
            </button>
            <button class="button login-buttons" [routerLink]="['/register']">
                Sign up
            </button>
        </div>
    </div>
    <div *ngIf="isLoggedIn" class="content-container content">

    </div>
</div>
